/*Create a container around the blog and style it*/
.container {
    border: 2px solid #000;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(152, 192, 194);
   
}
/*include blog items such as image and text elemnts*/
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
/*layout of main*/
main {
    display: flex;
    flex-wrap: flex;
    justify-content: center;
    gap: 32px;
}
article {
    background-color: var(--secondary-color);
    border-radius: 16px;
    overflow: hidden;
    text-align: center;
    margin: 20px 0;


}

/*fit the blog image to size*/

.blogs-image {
    width: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*style the blog content*/
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(5, 63, 94);
    background-color: rgb(134, 205, 212);
}


header { 
    background-color:rgb(26, 78, 78);
    text-align: center;
    padding: 16px;
    color: rgb(5, 63, 94);
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* make the footer pop with green and show the social media icons */
footer{
    background-color: rgb(26, 78, 78);
    justify-content: space-around;
   text-align: center;
   padding: 16px;
}
/* style the social media parts*/

.social-media {
    display: flex;
    justify-content: space-evenly;
}
.social-media a i {font-size: 24px;
color: rgb(112, 188, 192);

}
h3{
    font-size: 30px;
}
h4 {
    font-size: 20px;
    text-align: stacenterrt;
}

/* style the top navigation */
.topnav {
    
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: rgb(142, 210, 246);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 10px;
    border-radius: 10px 10px 10px 10px;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #b0e4f0;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(142, 210, 246);
    color: rgb(5, 63, 94);
  }
  /* styles for desktop devices */
@media only screen and (min-width: 992px) {
    body {
      font-size: 16px;
      width: 80%;
      margin: auto;
    }
  }
  
  /* styles for tablet devices */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
      font-size: 14px;
      width: 90%;
      margin: auto;
    }
  }
  
  /* styles for mobile devices */
  @media only screen and (max-width: 767px) {
    body {
      font-size: 12px;
      width: 100%;
      margin: 0;
    }
  }