:root {
    --primary-color: 7B4779;
    --secondary-color: C9AFD3
    }
    
    body {
        margin: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: rgb(142, 210, 246);
        background-color: rgb(26, 78, 78);
    }
    
    header { 
        background-color:rgb(26, 78, 78);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        padding: 16px;
        color: rgb(142, 210, 246);
    
    }
    .coder-text {
        font-size: medium;
    }
    footer{
        background-color: rgb(26, 78, 78);
        justify-content: space-around;
       text-align: center;
       padding: 16px;
    }
    .social-media {
        display: flex;
        justify-content: space-evenly;
    }
    .social-media a i {font-size: 24px;
    color: rgb(112, 188, 192);
    }
    
    .logo-name a img {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .name {font-size: 64px;
    color: rgb(158, 216, 245);}
    
    
    .info {
        color: blueviolet;
    }
    .info p {
        margin: 5px 0;
    
    }

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 24px;
    color: rgb(14, 41, 55);
    background-color: rgb(152, 192, 194);
}
.form-elements{

display: flex;
flex-direction: column;
margin-bottom: 24px;
}

.form-elements label{
    font-size: 16px;
    color: darkslategrey;
}

.form-input{
    border: 2px solid color(blue red green blue);
    outline: invert;
    border: 4px;
    font-size: 16px;
   
}

.form-input:not(.form-textarea){
    height: 35px;
}

.form-textarea{
    resize: none;
}
.form-input:focus{
    box-shadow: box-shadow; 4px -5px 9px -3px rgba(0,0,0,0.75);
    ;
}
.btn-div{
    text-align: center;
}
#submit {
    height: 40px;
    background-color: rgb(121, 181, 205);
    border: none;
    border-radius: 4px;
    min-width: 120px;
    font-size: 20px;
    color: black
}
#submit:hover {
    cursor:pointer;
    background-color: rgb(185, 221, 240);
    
}
/* style the top navigation */
.topnav {
    background-color: rgb(5, 88, 94);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: rgb(142, 210, 246);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #b0e4f0;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(142, 210, 246);
    color: rgb(5, 63, 94);
  }