main {
    display: flex;
    flex-wrap: flex;
    justify-content: center;
    gap: 32px;
}

.interests-image {
    width: 200px;
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(5, 63, 94);
    background-color: rgb(134, 205, 212);
}

header { 
    background-color:rgb(71, 125, 130);
    text-align: center;
    padding: 16px;
    color: rgb(4, 51, 93);
    font-size: 32px;

}

#nav-items a {
    text-decoration: none;
    ;
    display: flex;
    justify-content: space-around;
    color: rgb(154, 184, 205);
    font-size: 16px;
}
.nav-items{
    color: rgb(148, 198, 241);
}
footer{
    background-color: rgb(26, 78, 78);
    justify-content: space-around;
   text-align: center;
   padding: 16px;
}
.social-media {
    display: flex;
    justify-content: space-evenly;
}
.social-media a i {font-size: 24px;
color: rgb(62, 123, 235);
}